body {
    background: url("/static/img/peakpx.jpg");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 152, 43) ; /* Orange background */
    color: rgb(255, 152, 43) ; /* White text */
}

header {
    background-color: rgb(255,165,0); /* Red header */
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
}

form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: rgb(255 , 165 , 0) ;/* Red button */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255,165,0); /* Lighter red on hover */
}

/*footer {
    background-color: rgb(250,58,0);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}*/
.Menu-Bar
{
    background: rgb(255, 165, 0);
    text-align: center;


}
.Menu-Bar ul
{
    display: inline-flex;
    list-style: none;
    color: rgb(255, 165, 0);

}
.Menu-Bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;

}
.Menu-Bar ul li a
{
    text-decoration: none;
    color: #ffff
}
.active, .Menu-Bar ul li:hover
{
    background: rgb(255, 152, 43);
    border-radius: 3px;
}
.Menu-Bar .fa
{
    margin-right: 8px;
}
.Sub-menu-1
{
    display: none;
}

.Menu-Bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Menu-Bar li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.Menu-Bar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.Menu-Bar a i {
    margin-right: 5px;
}

.Sub-menu-1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(250,58,0) /* #5c5959 */;
    box-shadow: 0 2px 5px rgba(101, 100, 100, 0.1);
    z-index: 1;
}

.Sub-menu-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Menu-Bar ul li:hover .Sub-menu-1{
    display:block;
}